:plain

    $('.return').on('ajax:success', function() {
      $(this).addClass('uk-hidden');
      $('.take').removeClass('uk-hidden');
      $('.status').text('false');
      $("#flash").html("<div> #{j render partial: "layouts/errors"} </div>");
    });

