:plain
  $('.take').addClass('uk-hidden');
  $('.return').removeClass('uk-hidden');
  $('.status').text('true');
  $('.history').prepend("#{ j render @history }")
  $("#flash").html("<div> #{ j render partial: "layouts/errors" } </div>");




