:plain

    $('.take').bind('ajax:success', function() {
      $(this).addClass('uk-hidden');
      $('.return').removeClass('uk-hidden');
      $('.status').text('true');
      $("#flash").html("<div> #{j render partial: "layouts/errors"} </div>");
    });



