.uk-alert-close {
  position: absolute;
  top: 20px;
  right: 15px;
  color: inherit;
  opacity: .4;
}
.top-wrap::before, .overlay-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  background-color: rgba(256,256,256,0.3);
}
.top-wrap-height {
    height: 80vh;
    min-height: 460px;
    transition: height 0.25s;
}
